{# This is a modified copy of cki-project/reporter:reporter/templates/partials/failure.j2 #}
{% import 'ckihook_macros.j2' as cki_macros %}
{% for pipeline in pipelines.canceled %}
- {{ cki_macros.result_label_str(pipeline) }} has been canceled.
  {% endfor %}
  {% for pipeline in pipelines.failed %}
- {{ cki_macros.result_label_str(pipeline) }} failed at the {{ pipeline.failed_stage.name }} stage.
{# Output when the GL pipeline has failed but KCIDB now says passed. #}
  {% if pipeline.kcidb_data.result %}
    > The latest KCIDB data reports this pipeline has passed.  You man retry the pipeline's check-kernel-results job to update Gitlab's pipeline status.
  {% endif %}
{# Output for failures at the merge stage. #}
{% if pipeline.kcidb_data.checkout.valid is false %}
    {% if pipeline.kcidb_data.checkout.log_url %}
> **Merge log:** {{ pipeline.kcidb_data.checkout.log_url }}
    {% endif %}
    {% if pipeline.kcidb_data.checkout.log_excerpt %}
> **Log excerpt:**
        {% if pipeline.kcidb_data.checkout.log_excerpt|length < 3000 %}
    {{- '~~~\n%s\n~~~' | format(pipeline.kcidb_data.checkout.log_excerpt) | indent(4, first=True, blank=True) }}
        {% else %}
        Log excerpt too long, please check {{ dw_url }}/kcidb/checkouts/{{ pipeline.kcidb_data.checkout.misc.iid }}
        {% endif %}
    {% endif %}

{% endif %}
{# Output for failures at the build stage. #}
{% if pipeline.kcidb_data.build_data.unknown_issues_builds %}
    {% for build in pipeline.kcidb_data.build_data.unknown_issues_builds|sort(attribute='architecture,variant') %}
    {% set build_str = build.architecture if build.architecture else 'SRPM' %}
    > **Build:** {{ build_str }}{{ ' %s' | format(build.variant) if build.variant }} {{ dw_url }}/kcidb/builds/{{ build.misc.iid }}
        {% if build.compiler %}
    > **Compiler:** {{ build.compiler }}
        {% endif %}
        {% if build.command %}
    > **Command:** {{ build.command }}
        {% endif %}
        {% if build.config_name %}
    > **Config:** {{ build.config_name }}
        {% endif %}
        {% if build.config_url %}
    > **Config url:** {{ build.config_url }}
        {% endif %}
        {% if build.log_url %}
    > **Full build log:** {{ build.log_url }}
        {% endif %}
        {% if build.log_excerpt %}
    > **Log excerpt:**
            {% if build.log_excerpt|length < 3000 %}
        {{- '~~~\n%s\n~~~' | format(build.log_excerpt) | indent(4, first=True, blank=True) }}
            {% else %}
        Log excerpt too long, please check {{ dw_url }}/kcidb/builds/{{ build.misc.iid }}
            {% endif %}
        {% endif %}

    {% endfor %}
{% endif %}
{# Output for failures at the test-kernel-results stage. #}
{% if pipeline.kcidb_data.test_data.regressions %}
    {% for test in pipeline.kcidb_data.test_data.regressions|sort(attribute="architecture") %}
    > **Issue:** {{ '%8s'|format(test.architecture) }}{{ " ({})".format(test.variant) if test.variant else "" }} - {{ test.comment }} test:
        {% for issue_occurrence in test.issues_occurrences %}
          {% if issue_occurrence.is_regression %}
    > **Description:** {{ issue_occurrence.issue.description }}
          {{ issue_occurrence.issue.ticket_url }}
    > **Maintainers:** {{ cki_macros.maintainers_list(test, is_draft, key_type) }}
    > **Logs:** {{ dw_url }}/kcidb/tests/{{ test.misc.iid }}
          {% endif %}
        {% endfor%}

    {% endfor %}
    Note: Any of these might not be a regression and/or we might have mistakenly thought this issue to be fixed.
          If it is not a regression, please ask the test maintainer to reopen the issue and untag the regression from this execution.

{% endif %}
{% if pipeline.kcidb_data.test_data.unknown_issues_tests %}
    {% for test in pipeline.kcidb_data.test_data.unknown_issues_tests|sort(attribute="architecture") %}
    > **Issue:** {{ '%8s'|format(test.architecture) }}{{ " ({})".format(test.variant) if test.variant else "" }} - {{ test.comment }}:
    > **Maintainers:** {{ cki_macros.maintainers_list(test, is_draft, key_type) }}
    > **Logs:** {{ dw_url }}/kcidb/tests/{{ test.misc.iid }}
        {% if test.subtests %}
    > **Non-passing subtests:**
            {% for subtest in test.subtests %}
                {% if subtest.status != "PASS" %}
    > - {{ subtest.status }} {{ subtest.name }}
                {% endif %}
            {% endfor %}
        {% endif %}

    {% endfor %}
{% endif %}

{% endfor %}
